/*.idea
/.Build/*
/.local/.env
/.php_cs.cache
/composer.lock
/Documentation-GENERATED-temp/
/nbproject
/Resources/Private/node_modules/
/Resources/Private/package-lock.json
/Resources/Private/yarn-error.log
/Resources/Private/yarn.lock
/var
