/.Build/ export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/.gitlab/ export-ignore
/.php_cs.php export-ignore
/Resources/Private/.eslintignore export-ignore
/Resources/Private/.eslintrc.json export-ignore
/Resources/Private/.prettierrc.js export-ignore
/Resources/Private/package.json export-ignore
/Resources/Private/stylelint.config.js export-ignore
/Tests/ export-ignore
/badge.svg export-ignore
/codeception.yml export-ignore
/clover.xml export-ignore
/phive.xml
/phpcs.xml export-ignore
/phpstan.neon export-ignore
/phpstan-baseline.neon export-ignore
/tools/ export-ignore binary
