sudo: false

language: php

php:
- 7.0
- 7.1
- 7.2

env:
  global:
  - typo3DatabaseHost=localhost typo3DatabaseName=typo3 typo3DatabaseUsername=travis typo3DatabasePassword=''
  matrix:
  - TYPO3_VERSION="^8.7"
  - TYPO3_VERSION="^8.7" DEPENDENCIES_PREFERENCE="--prefer-lowest"

matrix:
  exclude:

cache:
  directories:
  - .Build/vendor
  - $HOME/.composer/cache

before_install:
- phpenv config-rm xdebug.ini

install:
- composer require typo3/minimal "$TYPO3_VERSION" $DEPENDENCIES_PREFERENCE
- git checkout .

script:
- >
  echo;
  echo "Linting all PHP files";
  composer ci:php:lint;

- >
  echo;
  echo "Linting all TypoScript files";
  composer ci:ts:lint;

- >
  echo;
  echo "Running the unit tests";
  composer ci:tests:unit;

- >
  echo;
  echo "Running the model tests";
  .Build/vendor/bin/phpunit -c Configuration/PHPUnit/ModelTests.xml;

- >
  echo;
  echo "Running the functional tests";
  composer ci:tests:functional;
