sudo: false

language: php

php:
- 7.0
- 7.1

env:
- TYPO3_VERSION="^7.6"
- TYPO3_VERSION="^8.7"

matrix:
  exclude:

cache:
  directories:
  - .Build/vendor
  - $HOME/.composer/cache

before_install:
- phpenv config-rm xdebug.ini

install:
- composer require-typo3-version "$TYPO3_VERSION"
- git checkout .
- export TYPO3_PATH_ROOT=$PWD/.Build/public

script:
- >
  echo;
  echo "Linting all PHP files";
  composer ci:php:lint;
