parameters:
    level: 8
    bootstrapFiles:
      - .Build/vendor/autoload.php
    scanDirectories:
      - Classes
      - Tests
    ignoreErrors:
        -
          message: '#Instanceof between TYPO3\\CMS\\Extbase\\Domain\\Model\\FileReference and TYPO3\\CMS\\Extbase\\Persistence\\Generic\\LazyLoadingProxy will always evaluate to false#'
          path: %currentWorkingDirectory%/Classes/Domain/Model/Product/Tea.php
