parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method getImage\\(\\) on TTN\\\\Tea\\\\Domain\\\\Model\\\\Tea\\|null\\.$#"
			count: 1
			path: Tests/Functional/Domain/Repository/TeaRepositoryTest.php
