<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="FrontEndEditor"/>

    <f:section name="main">
        <h2>
            <f:translate key="plugin.frontEndEditor.index.heading"/>
        </h2>

        <f:if condition="{teas}">
            <f:then>
                <table class="table table-striped table-hover">
                    <tr>
                        <th scope="col">
                            <f:translate key="plugin.frontEndEditor.property.uid"/>
                        </th>
                        <th scope="col">
                            <f:translate key="plugin.frontEndEditor.property.title"/>
                        </th>
                        <th scope="col">
                            <f:translate key="plugin.frontEndEditor.action.actions"/>
                        </th>
                    </tr>
                    <f:for each="{teas}" as="tea">
                        <tr>
                            <td>
                                {tea.uid}
                            </td>
                            <td>
                                {tea.title}
                            </td>
                            <td>
                                <f:link.action action="edit" arguments="{tea: tea}">
                                    <f:translate key="plugin.frontEndEditor.action.edit"/>
                                </f:link.action>
                            </td>
                        </tr>
                    </f:for>
                </table>
            </f:then>
            <f:else>
                <p class="alert alert-info" role="alert">
                    <f:translate key="plugin.frontEndEditor.message.noTeas"/>
                </p>
            </f:else>
        </f:if>
    </f:section>
</html>
