---
stages:
  - build
  - lint
  - codestyle
  - normalize
  - test

include:
  - '/.gitlab/pipeline/jobs/.default.yml'
  - '/.gitlab/pipeline/jobs/.default-frontend.yml'
  - '/.gitlab/pipeline/jobs/.variables.yml'
  - '/.gitlab/pipeline/jobs/build-composer-dependencies.yml'
  - '/.gitlab/pipeline/jobs/composer-normalize.yml'
  - '/.gitlab/pipeline/jobs/javascript-lint.yml'
  - '/.gitlab/pipeline/jobs/json-lint.yml'
  - '/.gitlab/pipeline/jobs/php-copypaste-check.yml'
  - '/.gitlab/pipeline/jobs/php-lint-php7.4.yml'
  - '/.gitlab/pipeline/jobs/php-lint-php8.0.yml'
  - '/.gitlab/pipeline/jobs/php-lint-php8.1.yml'
  - '/.gitlab/pipeline/jobs/phpcs.yml'
  - '/.gitlab/pipeline/jobs/ts-lint.yml'
  - '/.gitlab/pipeline/jobs/xliff-lint.yml'
  - '/.gitlab/pipeline/jobs/yaml-lint.yml'
  - template: Security/License-Scanning.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml
  - template: Security/SAST.gitlab-ci.yml
