<phpunit
    backupGlobals="true"
    backupStaticAttributes="false"
    bootstrap=".Build/vendor/nimut/testing-framework/res/Configuration/UnitTestsBootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="false"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    verbose="false"
>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">Tests/Unit</directory>
        </include>
    </coverage>
</phpunit>
